---
http_interactions:
- request:
    method: get
    uri: https://organizeralexandreschmitt.nationbuilder.com/api/v1/sites/organizeralexandreschmitt/pages/basic_pages?access_token=07c3200badad9727d29fd2bcde566a211b05e05b92680ca0439504084452db9a
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7a5eb63788f8e8ca3518b68f91902cde"
      Nation-Ratelimit-Limit:
      - '125000'
      Nation-Ratelimit-Remaining:
      - '124952'
      Nation-Ratelimit-Reset:
      - '1422748800'
      Status:
      - 200 OK
      X-Pulse-Approved:
      - 'true'
      X-Ratelimit-Limit:
      - 10s
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '1422694122'
    body:
      encoding: UTF-8
      string: "{\"results\":[{\"slug\":\"liquid_howto_videos\",\"path\":\"/liquid_howto_videos\",\"status\":\"published\",\"site_slug\":\"organizeralexandreschmitt\",\"name\":\"Liquid
        howto videos\",\"headline\":\"Liquid howto videos\",\"title\":\"Liquid howto
        videos - Matt's General Store\",\"excerpt\":\"\",\"author_id\":79278,\"published_at\":\"2014-08-20T13:48:13-07:00\",\"external_id\":null,\"tags\":[],\"id\":27,\"content\":\"\\u003Cp\\u003Ehttps://www.youtube.com/watch?v=tZLTExLukSg\\u003C/p\\u003E\\r\\n\\u003Cp\\u003Ehttps://www.youtube.com/watch?v=u8IPLtBtKcc\\u003C/p\\u003E\\r\\n\\u003Cp\\u003Ehttps://www.youtube.com/watch?v=ZqO5AwwLw5I\\u003C/p\\u003E\\r\\n\\u003Cp\\u003E(note:
        for specific variables available in NationBuilder, check \\u003Ca href=\\\"http://nationbuilder.com/request_variables\\\"\\u003Ehere\\u003C/a\\u003E)\\u003C/p\\u003E\"},{\"slug\":\"liquid_training\",\"path\":\"/liquid_training\"[...]
