---
http_interactions:
- request:
    method: get
    uri: https://testnation.nationbuilder.com/api/v1/sites/testsite/pages/basic_pages?limit=11
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 03c22256c06ed11f6bee83673addf26e02a86caa1a5127f4e0815be7223fe4a3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a7398a0ece988aab15f07997d6eeb23a-gzip"
      Nation-Ratelimit-Limit:
      - '999999'
      Nation-Ratelimit-Remaining:
      - '999999'
      Nation-Ratelimit-Reset:
      - '1540944000'
      Status:
      - 200 OK
      X-Middleware-Start:
      - t=1540930840130933
      X-Pulse-Approved:
      - 'true'
      X-Ratelimit-Limit:
      - 10s
      X-Ratelimit-Remaining:
      - '97'
      X-Ratelimit-Reset:
      - '1540930848'
      Use-Proxy:
      - 'True'
    body:
      encoding: UTF-8
      string: '{"results":[{"slug":"basic_23","path":"/basic_23","status":"unlisted","site_slug":"testsite","name":"Basic
        23","headline":"Basic 23","title":"Basic 23 - Test site","excerpt":null,"author_id":1,"published_at":null,"external_id":null,"tags":[],"id":121,"content":null},{"slug":"basic_22","path":"/basic_22","status":"unlisted","site_slug":"testsite","name":"Basic
        22","headline":"Basic 22","title":"Basic 22 - Test site","excerpt":null,"author_id":1,"published_at":null,"external_id":null,"tags":[],"id":120,"content":null},{"slug":"basic_21","path":"/basic_21","status":"unlisted","site_slug":"testsite","name":"Basic
        21","headline":"Basic 21","title":"Basic 21 - Test site","excerpt":null,"author_id":1,"published_at":null,"external_id":null,"ta[...]
