---
http_interactions:
- request:
    method: get
    uri: https://organizeralexandreschmitt.nationbuilder.com/api/v1/sites/organizeralexandreschmitt/pages/basic_pages?access_token=3695ca30a6e74401115ec2b68767b53112c32b5bedc3c1f34e72c9749419b2de&limit%5B%5D=11
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"59daf9a663e909272eaeba34a97b610c"
      Nation-Ratelimit-Limit:
      - "-1"
      Nation-Ratelimit-Remaining:
      - '0'
      Nation-Ratelimit-Reset:
      - '1439683200'
      Status:
      - 200 OK
      X-Pulse-Approved:
      - 'true'
      X-Ratelimit-Limit:
      - 10s
      X-Ratelimit-Remaining:
      - '98'
      X-Ratelimit-Reset:
      - '1439617820'
    body:
      encoding: UTF-8
      string: '{"results":[{"slug":"get_involved","path":"/get_involved","status":"published","site_slug":"organizeralexandreschmitt","name":"Get
        Involved","headline":"Get Involved","title":"Get Involved - Matt''s General
        Store","excerpt":"","author_id":79278,"published_at":"2013-12-14T03:57:00Z","external_id":null,"tags":["Get
        Involved","Member-Owner","Volunteer"],"id":8,"content":"\u003Cp\u003EThere
        are currently two ways to get involved and support Matt''s General Store:\u003C/p\u003E\r\n\u003Cp\u003EBecoming
        a \u003Ca title=\"Member-Owner\" href=\"/member_owner\"\u003EMember-Owner\u003C/a\u003E
        is the primary way of how our organization operates. Matt''s General Store
        is is a consumer co-operative. This means that it is owned and democratically
        controlled by the people who shop in the store. Member-Owners invest capital
        i[...]
