---
http_interactions:
- request:
    method: get
    uri: https://organizeralexandreschmitt.nationbuilder.com/api/v1/sites/organizeralexandreschmitt/pages/basic_pages?access_token=03c22256c06ed11f6bee83673addf26e02a86caa1a5127f4e0815be7223fe4a3&limit%5B%5D=11
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d54fc875e173fde01924a654d3170d42-gzip"
      Nation-Ratelimit-Limit:
      - '999999'
      Nation-Ratelimit-Remaining:
      - '999999'
      Nation-Ratelimit-Reset:
      - '1479945600'
      Status:
      - 200 OK
      X-Pulse-Approved:
      - 'true'
      X-Ratelimit-Limit:
      - 10s
      X-Ratelimit-Remaining:
      - '98'
      X-Ratelimit-Reset:
      - '1479928639'
    body:
      encoding: UTF-8
      string: '{"results":[{"slug":"basic_1","path":"/basic_1","status":"unlisted","site_slug":"organizeralexandreschmitt","name":"Basic
        1","headline":"Basic 1","title":"Basic 1 - Test site","excerpt":null,"author_id":1,"published_at":null,"external_id":null,"tags":[],"id":99,"content":null},{"slug":"about","path":"/","status":"published","site_slug":"organizeralexandreschmitt","name":"About","headline":"About
        your nation","title":"About - Test site","excerpt":"","author_id":1,"published_at":"2013-07-08T18:07:00Z","external_id":null,"tags":[],"id":98,"content":"\u003cp\u003eThis
        is where you tell everyone about your nation. Explain who you are and what
        you would like people to do. \u003c/p\u003e\r\n\u003cp\u003e \u003c/p\u003e\r\n\u003cp\u003e\u003cstrong\u003eTo
        change this content, click \"Edit this page\" in the Supporter Nav on the
        right,\u003cbr\u003eor from your Control Panel navigate to Websites \u0026gt;
        [about] \u0026gt; Content.\u003c/strong\u003e\u003c/p\u003e"}],"next":null,"prev":"/api/v1/sites/organizeralexandreschmitt/pages/basic_pages?__nonce=Wm_pYQzOnIFKyM2TN1e2bw\u0026__token=AJ376yMPDjR_cerB0Cn9KDbA63_-o4A6j3CvvQDJKM1u\u0026limit=11"}'
  recorded_at: Wed, 23 Nov 2016 19:17:09 GMT
recorded_with: VCR 2.9.3
