---
http_interactions:
- request:
    method: get
    uri: https://testnation.nationbuilder.com/api/v1/sites/testsite/pages/basic_pages?limit=11
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 03c22256c06ed11f6bee83673addf26e02a86caa1a5127f4e0815be7223fe4a3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ddf724d5fee593219690d48451493c0a-gzip"
      Nation-Ratelimit-Limit:
      - '999999'
      Nation-Ratelimit-Remaining:
      - '999999'
      Nation-Ratelimit-Reset:
      - '1540944000'
      Status:
      - 200 OK
      X-Middleware-Start:
      - t=1540931476975608
      X-Pulse-Approved:
      - 'true'
      X-Ratelimit-Limit:
      - 10s
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '1540931486'
      Use-Proxy:
      - 'True'
    body:
      encoding: UTF-8
      string: '{"results":[{"slug":"basic_12","path":"/basic_12","status":"unlisted","site_slug":"testsite","name":"Basic
        12","headline":"Basic 12","title":"Basic 12 - Test site","excerpt":null,"author_id":1,"published_at":null,"external_id":null,"tags":[],"id":110,"content":null},{"slug":"basic_11","path":"/basic_11","status":"unlisted","site_slug":"testsite","name":"Basic
        11","headline":"Basic 11","title":"Basic 11 - Test site","excerpt":null,"author_id":1,"published_at":null,"external_id":null,"tags":[],"id":109,"content":null},{"slug":"basic_10","path":"/basic_10","status":"unlisted","site_slug":"testsite","name":"Basic
        10","headline":"Basic 10","title":"Basic 10 - Test site","excerpt":null,"author_id":1,"published_at":null,"external_id":null,"ta[...]
