---
http_interactions:
- request:
    method: get
    uri: https://testnation.nationbuilder.com/api/v1/sites/testsite/pages/basic_pages?limit=5
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 03c22256c06ed11f6bee83673addf26e02a86caa1a5127f4e0815be7223fe4a3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"242c92633784576593dad1a16b0aa5b6-gzip"
      Nation-Ratelimit-Limit:
      - '999999'
      Nation-Ratelimit-Remaining:
      - '999999'
      Nation-Ratelimit-Reset:
      - '1540944000'
      Status:
      - 200 OK
      X-Middleware-Start:
      - t=1540931481020421
      X-Pulse-Approved:
      - 'true'
      X-Ratelimit-Limit:
      - 10s
      X-Ratelimit-Remaining:
      - '98'
      X-Ratelimit-Reset:
      - '1540931486'
      Use-Proxy:
      - 'True'
    body:
      encoding: UTF-8
      string: '{"results":[{"slug":"basic_12","path":"/basic_12","status":"unlisted","site_slug":"testsite","name":"Basic
        12","headline":"Basic 12","title":"Basic 12 - Test site","excerpt":null,"author_id":1,"published_at":null,"external_id":null,"tags":[],"id":110,"content":null},{"slug":"basic_11","path":"/basic_11","status":"unlisted","site_slug":"testsite","name":"Basic
        11","headline":"Basic 11","title":"Basic 11 - Test site","excerpt":null,"author_id":1,"published_at":null,"external_id":null,"tags":[],"id":109,"content":null},{"slug":"basic_10","path":"/basic_10","status":"unlisted","site_slug":"testsite","name":"Basic
        10","headline":"Basic 10","title":"Basic 10 - Test site","excerpt":null,"author_id":1,"published_at":null,"external_id":null,"tags":[],"id":108,"content":null},{"slug":"basic_9","path":"/basic_9","status":"unlisted","site_slug":"testsite","name":"Basic
        9","headline":"Basic 9","title":"Basic 9 - Test site","excerpt":null,"author_id":1,"published_at":null,"external_id":null,"tags":[],"id":107,"content":null},{"slug":"basic_8","path":"/basic_8","status":"unlisted","site_slug":"testsite","name":"Basic
        8","headline":"Basic 8","title":"Basic 8 - Test site","excerpt":null,"author_id":1,"published_at":null,"external_id":null,"tags":[],"id":106,"content":null}],"next":"/api/v1/sites/testsite/pages/basic_pages?__nonce=tnHZBeItEJEadJKW-lerRg\u0026__token=APRyDDzee5rn5zmkdWQbp-CoMuliTas2BjygYwo8Gq3P\u0026limit=5","prev":"/api/v1/sites/testsite/pages/basic_pages?__nonce=CVvuPUtTqo8pMqQ1ffIGPA\u0026__token=AHedyRZyfUUbVEY79DfNVxp7Fd3oD3DiZ-Dr4LUqfAM8\u0026limit=5"}'
  recorded_at: Tue, 30 Oct 2018 20:31:21 GMT
recorded_with: VCR 2.9.3
