---
http_interactions:
- request:
    method: get
    uri: https://organizeralexandreschmitt.nationbuilder.com/api/v1/sites/organizeralexandreschmitt/pages/basic_pages?access_token=03c22256c06ed11f6bee83673addf26e02a86caa1a5127f4e0815be7223fe4a3&limit=5
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ae6cfb238c7ae115c9bb94a5f8fa4d88-gzip"
      Nation-Ratelimit-Limit:
      - '999999'
      Nation-Ratelimit-Remaining:
      - '999999'
      Nation-Ratelimit-Reset:
      - '1479945600'
      Status:
      - 200 OK
      X-Pulse-Approved:
      - 'true'
      X-Ratelimit-Limit:
      - 10s
      X-Ratelimit-Remaining:
      - '97'
      X-Ratelimit-Reset:
      - '1479928639'
    body:
      encoding: UTF-8
      string: '{"results":[{"slug":"basic_12","path":"/basic_12","status":"unlisted","site_slug":"organizeralexandreschmitt","name":"Basic
        12","headline":"Basic 12","title":"Basic 12 - Test site","excerpt":null,"author_id":1,"published_at":null,"external_id":null,"tags":[],"id":110,"content":null},{"slug":"basic_11","path":"/basic_11","status":"unlisted","site_slug":"organizeralexandreschmitt","name":"Basic
        11","headline":"Basic 11","title":"Basic 11 - Test site","excerpt":null,"author_id":1,"published_at":null,"external_id":null,"tags":[],"id":109,"content":null},{"slug":"basic_10","path":"/basic_10","status":"unlisted","site_slug":"organizeralexandreschmitt","name":"Basic
        10","headline":"Basic 10","title":"Basic 10 - Test site","excerpt":null,"author_id":1,"published_at":null,"external_id":null,"tags":[],"id":108,"content":null},{"slug":"basic_9","path":"/basic_9","status":"unlisted","site_slug":"organizeralexandreschmitt","name":"Basic
        9","headline":"Basic 9","title":"Basic 9 - Test site","excerpt":null,"author_id":1,"published_at":null,"external_id":null,"tags":[],"id":107,"content":null},{"slug":"basic_8","path":"/basic_8","status":"unlisted","site_slug":"organizeralexandreschmitt","name":"Basic
        8","headline":"Basic 8","title":"Basic 8 - Test site","excerpt":null,"author_id":1,"published_at":null,"external_id":null,"tags":[],"id":106,"content":null}],"next":"/api/v1/sites/organizeralexandreschmitt/pages/basic_pages?__nonce=hjckzj_F5iPf5lfrG8BYKw\u0026__token=AOtncKrhUkSJTuXnTXsNM7ShamHbixIDNcnJ3zMVk3ob\u0026limit=5","prev":"/api/v1/sites/organizeralexandreschmitt/pages/basic_pages?__nonce=MEaAhepTzsP3N1rirzlulA\u0026__token=AKRG10xG60JZdtnI5KaWzKd97xwkLMUGuCdULGAYZHo1\u0026limit=5"}'
  recorded_at: Wed, 23 Nov 2016 19:17:10 GMT
recorded_with: VCR 2.9.3
