---
http_interactions:
- request:
    method: get
    uri: https://organizeralexandreschmitt.nationbuilder.com/api/v1/sites/organizeralexandreschmitt/pages/basic_pages?access_token=53920a524356034a065515a37650df2bd295971975d5742b9daa50eb8c7404d5
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e7e2efba55931ddbc42f04314d4873b6"
      Nation-Ratelimit-Limit:
      - '125000'
      Nation-Ratelimit-Remaining:
      - '124955'
      Nation-Ratelimit-Reset:
      - '1423180800'
      Status:
      - 200 OK
      X-Pulse-Approved:
      - 'true'
      X-Ratelimit-Limit:
      - 10s
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '1423116187'
    body:
      encoding: UTF-8
      string: "{\"results\":[{\"slug\":\"discounts_to_dividends\",\"path\":\"/discounts_to_dividends\",\"status\":\"published\",\"site_slug\":\"organizeralexandreschmitt\",\"name\":\"Discounts
        to Dividends\",\"headline\":\"Discounts to Dividends\",\"title\":\"Discounts
        to Dividends - Matt's General Store\",\"excerpt\":\"Learn more about what
        our member-owner program is about, and how it can benefit you.\",\"author_id\":79278,\"published_at\":\"2013-12-13T20:05:41-08:00\",\"external_id\":null,\"tags\":[],\"id\":9,\"content\":\"\\u003Cp
        align=\\\"left\\\"\\u003EPart of what separates consumer Co-ops from other
        businesses is that Co-ops return their profits to owners in proportion to
        how much they patronize the business. Most co-operatives throughout the world
        (including REI, Organic Valley, and most natural foods co-ops) do this through
        a system called Patronage Dividends. Since 1988, the Lexington Co-operative
        Market has returned profits to our owners before we made th[...]
