---
http_interactions:
- request:
    method: post
    uri: https://organizeralexandreschmitt.nationbuilder.com/api/v1/people?access_token=53920a524356034a065515a37650df2bd295971975d5742b9daa50eb8c7404d5
    body:
      encoding: UTF-8
      string: "{\"person\":{\"email\":\"bob@example.com\",\"last_name\":\"Smith\",\"first_name\":\"Bob\"},\"access_token\":\"53920a524356034a065515a37650df2bd295971975d5742b9daa50eb8c7404d5\"}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: Conflict
    headers:
      Content-Type:
      - application/json
      Nation-Ratelimit-Limit:
      - '125000'
      Nation-Ratelimit-Remaining:
      - '124958'
      Nation-Ratelimit-Reset:
      - '1423180800'
      Status:
      - 409 Conflict
      X-Pulse-Approved:
      - 'true'
      X-Ratelimit-Limit:
      - 10s
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '1423115683'
    body:
      encoding: UTF-8
      string: "{\"person\":{\"birthdate\":null,\"city_district\":\"14\",\"civicrm_id\":null,\"county_district\":\"1\",\"county_file_id\":null,\"created_at\":\"2014-04-24T10:27:34-07:00\",\"datatrust_id\":null,\"do_not_call\":false,\"do_not_contact\":false,\"dw_id\":null,\"email\":\"bob@example.com\",\"email_opt_in\":true,\"employer\":\"\",\"external_id\":null,\"federal_district\":\"34\",\"fire_district\":null,\"first_name\":\"Bob\",\"has_facebook\":false,\"id\":79264,\"is_twitter_follower\":false,\"is_volunteer\":false,\"judicial_district\":null,\"labour_region\":null,\"last_name\":\"Smith\",\"linkedin_id\":null,\"mobile\":\"\",\"mobile_opt_in\":true,\"nbec_guid\":null,\"ngp_id\":null,\"note\":null,\"occupation\":\"\",\"party\":\"\",\"pf_strat_id\":null,\"phone\":\"213-555-1234\",\"precinct_id\":null,\"primary_address\":{\"address1\":\"1234
        S Hill St\",\"address2\":\"\",\"address3\":\"\",\"city\":\"Los Angeles\",\"state\":\"CA\",\"country_code\":\"US\",\"zip\":\"90015\",\"lat\":\"34.0383462\",\"lng\":\"-118.2614889\"},\"profile_image_url_ssl\":\"https://d3n8a8pro7vhmx.cloudfront.net/assets/icons/buddy.png\",\"recruiter_id\":null,\"rnc_id\":null,\"rnc_regid\":null,\"salesforce_id\":null,\"school_district\":\"19647330000000\",\"school_sub_district\":\"2\",\"sex\":\"\",\"signup_type\":0,\"state_file_id\":null,\"state_lower_district\":\"53\",\"state_upper_district\":\"30\",\"support_level\":null,\"supranational_district\":null,\"tags\":[\"website_volunteer\",\"Youth_Outreach\",\"sample
        import\"],\"twitter_id\":null,\"twitter_name\":null,\"updated_at\":\"2015-02-04T21:54:25-08:00\",\"van_id\":null,\"village_district\":null,\"work_phone_number\":\"\",\"active_customer_expires_at\":null,\"active_customer_started_at\":null,\"author\":null,\"author_id\":null,\"auto_import_id\":null,\"availability\":\"M-F\",\"banned_at\":null,\"billing_address\":{\"address1\":\"1234
        S Hill St\",\"address2\":\"\",\"address3\":\"\",\"city\":\"Los Angeles\",\"state\":\"CA\",\"country_code\":\"US\",\"zip\":\"90015\",\"lat\":\"34.0383462\",\"lng\":\"-118.2614889\"},\"bio\":null,\"call_status_id\":null,\"call_status_name\":null,\"capital_amount_in_cents\":16700,\"children_count\":0,\"church\":\"\",\"city_sub_district\":\"DOWNTOWN
        LOS ANGELES\",\"closed_invoices_amount_in_cents\":null,\"closed_invoices_count\":null,\"contact_status_id\":null,\"contact_status_name\":null,\"could_vote_status\":null,\"demo\":\"\",\"donations_amount_in_cents\":0,\"donations_amount_this_cycle_in_cents\":0,\"donations_count\":0,\"donations_count_this_cycle\":0,\"donations_pledged_amount_in_cents\":0,\"donations_raised_amount_in_cents\":0,\"donations_raised_amount_this_cycle_in_cents\":0,\"donations_raised_count\":0,\"donations_raised_count_this_cycle\":0,\"donations_to_raise_amount_in_cents\":0,\"email1\":\"bob@example.com\",\"email1_is_bad\":false,\"email2\":null,\"email2_is_bad\":false,\"email3\":null,\"email3_is_bad\":false,\"email4\":null,\"email4_is_bad\":false,\"ethnicity\":\"\",\"facebook_address\":null,\"facebook_profile_url\":null,\"facebook_updated_at\":null,\"facebook_username\":null,\"fax_number\":\"\",\"federal_donotcall\":false,\"first_donated_at\":null,\"first_fundraised_at\":null,\"first_invoice_at\":null,\"first_prospect_at\":null,\"first_recruited_at\":null,\"first_supporter_at\":\"2014-04-24T10:27:34-07:00\",\"first_volunteer_at\":\"2014-09-02T13:10:28-07:00\",\"full_name\":\"Bob
        Smith\",\"home_address\":null,\"import_id\":null,\"inferred_party\":\"\",\"inferred_support_level\":null,\"invoice_payments_amount_in_cents\":null,\"invoice_payments_referred_amount_in_cents\":null,\"invoices_amount_in_cents\":null,\"invoices_count\":null,\"is_deceased\":false,\"is_donor\":false,\"is_fundraiser\":false,\"is_ignore_donation_limits\":false,\"is_leaderboardable\":true,\"is_mobile_bad\":false,\"is_possible_duplicate\":false,\"is_profile_private\":false,\"is_profile_searchable\":true,\"is_prospect\":false,\"is_supporter\":true,\"is_survey_question_private\":false,\"language\":\"\",\"last_call_id\":null,\"last_contacted_at\":null,\"last_contacted_by\":null,\"last_donated_at\":null,\"last_fundraised_at\":null,\"last_invoice_at\":null,\"last_rule_violation_at\":null,\"legal_name\":null,\"locale\":\"\",\"mailing_address\":null,\"marital_status\":\"\",\"media_market_name\":null,\"meetup_address\":null,\"membership_expires_at\":null,\"membership_level_name\":null,\"membership_started_at\":null,\"middle_name\":null,\"mobile_normalized\":null,\"nbec_precinct_code\":null,\"note_updated_at\":null,\"outstanding_invoices_amount_in_cents\":null,\"outstanding_invoices_count\":null,\"overdue_invoices_count\":null,\"page_slug\":\"ticket_page\",\"parent\":null,\"parent_id\":null,\"party_member\":false,\"phone_normalized\":\"2135551234\",\"phone_time\":\"\",\"precinct_code\":null,\"precinct_name\":null,\"prefix\":null,\"previous_party\":\"\",\"primary_email_id\":1,\"priority_level\":null,\"priority_level_changed_at\":null,\"profile_content\":null,\"profile_content_html\":null,\"profile_headline\":null,\"received_capital_amount_in_cents\":17700,\"recruiter\":null,\"recruits_count\":0,\"registered_address\":null,\"registered_at\":null,\"religion\":\"\",\"rule_violations_count\":0,\"spent_capital_amount_in_cents\":1000,\"submitted_address\":\"\",\"subnations\":[],\"suffix\":null,\"support_level_changed_at\":null,\"support_probability_score\":null,\"turnout_probability_score\":null,\"twitter_address\":null,\"twitter_description\":null,\"twitter_followers_count\":null,\"twitter_friends_count\":null,\"twitter_location\":null,\"twitter_login\":null,\"twitter_updated_at\":null,\"twitter_website\":null,\"unsubscribed_at\":null,\"user_submitted_address\":{\"address1\":\"488
        S Hill St\",\"address2\":null,\"address3\":null,\"city\":\"Los Angeles\",\"state\":\"CA\",\"country_code\":\"US\",\"zip\":\"90013\",\"lat\":\"34.0490467\",\"lng\":\"-118.2515224\"},\"username\":\"randomeveguy\",\"warnings_count\":0,\"website\":null,\"work_address\":null,\"bag_preference\":null,\"do_you_drive_a_fork_lift\":null,\"have_you_ever_been_contacted_by_a_union_representative_before_\":null,\"have_you_been_involved_in_an_election_campaign_before_\":null,\"sub_branch\":null,\"sams_custom_field\":null,\"mrow\":null,\"received_an_email\":null,\"brett_petition_mc\":null,\"headshot_url\":null,\"university\":null,\"membership_number\":null},\"precinct\":null}"
  recorded_at: Thu, 05 Feb 2015 05:54:33 GMT
recorded_with: VCR 2.9.2
