---
http_interactions:
- request:
    method: get
    uri: https://organizeralexandreschmitt.nationbuilder.com/api/v1/sites/organizeralexandreschmitt/pages/basic_pages?access_token=3695ca30a6e74401115ec2b68767b53112c32b5bedc3c1f34e72c9749419b2de&limit=11
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bbba1d8270e4aabeaca84e4c25444072"
      Nation-Ratelimit-Limit:
      - "-1"
      Nation-Ratelimit-Remaining:
      - '0'
      Nation-Ratelimit-Reset:
      - '1439683200'
      Status:
      - 200 OK
      X-Pulse-Approved:
      - 'true'
      X-Ratelimit-Limit:
      - 10s
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '1439614554'
    body:
      encoding: UTF-8
      string: '{"results":[{"slug":"voting_information_tool","path":"/voting_information_tool","status":"unlisted","site_slug":"organizeralexandreschmitt","name":"Voting
        Information Tool","headline":"Voting Information Tool","title":"Voting Information
        Tool - Matt''s General Store","excerpt":null,"author_id":79278,"published_at":null,"external_id":null,"tags":[],"id":85,"content":null},{"slug":"crowdfund-it","path":"/crowdfund-it","status":"published","site_slug":"organizeralexandreschmitt","name":"crowdfund-it","headline":"Crowdfund
        your nation","title":"crowdfund-it - Matt''s General Store","excerpt":null,"author_id":null,"published_at":"2015-01-27T01:18:37Z","external_id":null,"tags":[],"id":83,"content":"\u003Cp\u003ERetrieve
        your embed code with instructions from Bring It Local and add it to the template
        of this page\u003C/p\u003E"},{"slug":"[...]
