---
http_interactions:
- request:
    method: get
    uri: https://organizeralexandreschmitt.nationbuilder.com/api/v1/sites/organizeralexandreschmitt/pages/basic_pages?access_token=07c3200badad9727d29fd2bcde566a211b05e05b92680ca0439504084452db9a
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a1a4e411453e629cfcb3696e147d5505"
      Nation-Ratelimit-Limit:
      - '125000'
      Nation-Ratelimit-Remaining:
      - '124954'
      Nation-Ratelimit-Reset:
      - '1422748800'
      Status:
      - 200 OK
      X-Pulse-Approved:
      - 'true'
      X-Ratelimit-Limit:
      - 10s
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '1422692854'
    body:
      encoding: UTF-8
      string: "{\"results\":[{\"slug\":\"crowdfund-it\",\"path\":\"/crowdfund-it\",\"status\":\"published\",\"site_slug\":\"organizeralexandreschmitt\",\"name\":\"crowdfund-it\",\"headline\":\"Crowdfund
        your nation\",\"title\":\"crowdfund-it - Matt's General Store\",\"excerpt\":null,\"author_id\":null,\"published_at\":\"2015-01-26T17:18:37-08:00\",\"external_id\":null,\"tags\":[],\"id\":83,\"content\":\"\\u003Cp\\u003ERetrieve
        your embed code with instructions from Bring It Local and add it to the template
        of this page\\u003C/p\\u003E\"},{\"slug\":\"basic_page_test_ox_i2du_g2yuljz1pfu9gjen_w\",\"path\":\"/basic_page_test_ox_i2du_g2yuljz1pfu9gjen_w\",\"status\":\"published\",\"site_slug\":\"organizeralexandreschmitt\",\"name\":\"basic_page_test\",\"headline\":\"basic_page_test\",\"title\":\"basic_page_test
        - Matt's General Store\",\"excerpt\":null,\"author_id\":null,\"p[...]
