---
http_interactions:
- request:
    method: get
    uri: https://organizeralexandreschmitt.nationbuilder.com/api/v1/sites/organizeralexandreschmitt/pages/basic_pages?access_token=03c22256c06ed11f6bee83673addf26e02a86caa1a5127f4e0815be7223fe4a3&limit=11
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"709a1f317fbb097ab1029fcba5e8f8c1-gzip"
      Nation-Ratelimit-Limit:
      - '999999'
      Nation-Ratelimit-Remaining:
      - '999999'
      Nation-Ratelimit-Reset:
      - '1479945600'
      Status:
      - 200 OK
      X-Pulse-Approved:
      - 'true'
      X-Ratelimit-Limit:
      - 10s
      X-Ratelimit-Remaining:
      - '98'
      X-Ratelimit-Reset:
      - '1479928618'
    body:
      encoding: UTF-8
      string: '{"results":[{"slug":"basic_23","path":"/basic_23","status":"unlisted","site_slug":"organizeralexandreschmitt","name":"Basic
        23","headline":"Basic 23","title":"Basic 23 - Test site","excerpt":null,"author_id":1,"published_at":null,"external_id":null,"tags":[],"id":121,"content":null},{"slug":"basic_22","path":"/basic_22","status":"unlisted","site_slug":"organizeralexandreschmitt","name":"Basic
        22","headline":"Basic 22","title":"Basic 22 - Test site","excerpt":null,"author_id":1,"published_at":null,"external_id":null,"tags":[],"id":120,"content":null},{"slug":"basic_21","path":"/basic_21","status":"unlisted","site_slug":"organizeralexandreschmitt","name":"Basic
        21","headline":"Basic 21","title":"Basic 21 - Test site","excerpt":null,"author_id":1,"publish[...]
