---
http_interactions:
- request:
    method: get
    uri: https://dh.nationbuilder.com/api/v1/sites/dh/pages/basic_pages?access_token=6ed3ab9395daf0e3e39098761e85e8e703aa84921c5c1e32637f6984944cf1f2
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a9e3c4325c7d65e5dff1402691d9f2dc"
      Nation-Ratelimit-Limit:
      - '-1'
      Nation-Ratelimit-Remaining:
      - '0'
      Nation-Ratelimit-Reset:
      - '1412726400'
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - 33s
      X-Ratelimit-Remaining:
      - '49999'
      X-Ratelimit-Reset:
      - '32.999994763'
    body:
      encoding: UTF-8
      string: '{"page":1,"total_pages":1,"per_page":10,"total":2,"results":[{"slug":"test","path":"/test","status":"drafted","site_slug":"dh","name":"test","headline":"test","title":"test
        - dh","excerpt":null,"author_id":1,"published_at":null,"external_id":null,"tags":[],"id":3,"content":null},{"slug":"about","path":"/about","status":"published","site_slug":"dh","name":"About","headline":"About","title":"About
        - dh","excerpt":"","author_id":2,"published_at":"2013-07-08T11:07:00-07:00","external_id":null,"tags":[],"id":1,"content":"\u003Cdiv
        style=\"float: right; margin: 0 0 10px 25px;\"\u003E\u003Cimg class=\"img-circle\"
        src=\"boats.jpg\" alt=\"\"\u003E\u003C/div\u003E\r\n\u003Cp\u003EThis is where
        you tell everyone what your blog is about. Explain what the intended purpose
        of your blog is, if there is one. If multiple people will be writing for your
        blog, you might consider posting photos and bios of the contributors.\u003C/p\u003E\r\n\u003Cp\u003EProin
        libero diam, consequat ut nisl vestibulum, commodo scelerisque lacus. In vehicula,
        est quis rhoncus tristique, dolor sapien aliquam arcu, ut vulputate quam enim
        quis augue. Phasellus id nunc vitae lectus dapibus viverra malesuada at nibh.
        Suspendisse sagittis odio non ipsum feugiat porta.\u003C/p\u003E\r\n\u003Cp\u003E\u00a0\u003C/p\u003E\r\n\u003Cp\u003E\u003Cstrong\u003ETo
        change this content, click \"Edit this page\" in the Supporter Nav on the
        right,\u003Cbr\u003Eor from your Control Panel navigate to Websites \u0026gt;
        [about] \u0026gt; Content.\u003C/strong\u003E\u003C/p\u003E"}],"next":null,"prev":null}'
  recorded_at: Tue, 07 Oct 2014 17:43:46 GMT
recorded_with: VCR 2.9.2
