---
http_interactions:
- request:
    method: get
    uri: https://organizeralexandreschmitt.nationbuilder.com/api/v1/people/search?access_token=03c22256c06ed11f6bee83673addf26e02a86caa1a5127f4e0815be7223fe4a3&custom_values%5Bgraduation_year%5D=2008&first_name=Alex&limit=2
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"22dbb824b3d20ee8ecc94045fc22785f-gzip"
      Nation-Ratelimit-Limit:
      - '999999'
      Nation-Ratelimit-Remaining:
      - '999999'
      Nation-Ratelimit-Reset:
      - '1540857600'
      Status:
      - 200 OK
      X-Middleware-Start:
      - t=1540844404429755
      X-Pulse-Approved:
      - 'true'
      X-Ratelimit-Limit:
      - 10s
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '1540844414'
      Use-Proxy:
      - 'True'
    body:
      encoding: UTF-8
      string: '{"results":[{"birthdate":null,"city_district":null,"civicrm_id":null,"county_district":null,"county_file_id":null,"created_at":"2018-10-29T19:09:52Z","datatrust_id":null,"do_not_call":false,"do_not_contact":false,"dw_id":null,"email":"alexdoe@exampleschool.edu","email_opt_in":true,"employer":"","external_id":null,"federal_district":null,"fire_district":null,"first_name":"Alex","has_facebook":false,"id":352989,"is_twitter_follower":false,"is_volunteer":false,"judicial_district":null,"labour_region":null,"last_name":"Doe","linkedin_id":null,"mobile":"","mobile_opt_in":true,"middle_name":"","nbec_guid":null,"ngp_id":null,"note":"","occupation":"","party":"","pf_strat_id":null,"phone":"","precinct_id":null,"primary_address":null,"profile_image_url_ssl":"https://d3n8a8pro7vhmx.cloudfront.net/assets/notifier/profile-avatar.png","recruiter_id":null,"rnc_id":null,"rnc_regid":null,"salesforce_id":null,"school_district":null,"school_sub_district":null,"sex":"","signup_type":0,"state_file_id":null,"state_lower_district":null,"state_upper_district":null,"support_level":null,"supranational_district":null,"tags":[],"twitter_id":null,"twitter_name":null,"updated_at":"2018-10-29T19:10:05Z","van_id":null,"village_district":null,"ward":null,"work_phone_number":"","graduation_year":2008.0},{"birthdate":null,"city_district":null,"civicrm_id":null,"county_district":null,"county_file_id":null,"created_at":"2018-05-31T00:07:29Z","datatrust_id":null,"do_not_call":false,"do_not_contact":false,"dw_id":null,"email":"alex@exampleschool.edu","email_opt_in":true,"employer":"","external_id":null,"federal_district":null,"fire_district":null,"first_name":"Alex","has_facebook":false,"id":352955,"is_twitter_follower":false,"is_volunteer":false,"judicial_district":null,"labour_region":null,"last_name":"Smith","linkedin_id":null,"mobile":"","mobile_opt_in":true,"middle_name":"","nbec_guid":null,"ngp_id":null,"note":null,"occupation":"","party":"","pf_strat_id":null,"phone":"","precinct_id":null,"primary_address":null,"profile_image_url_ssl":"https://d3n8a8pro7vhmx.cloudfront.net/assets/notifier/profile-avatar.png","recruiter_id":null,"rnc_id":null,"rnc_regid":null,"salesforce_id":null,"school_district":null,"school_sub_district":null,"sex":"","signup_type":0,"state_file_id":null,"state_lower_district":null,"state_upper_district":null,"support_level":null,"supranational_district":null,"tags":[],"twitter_id":null,"twitter_name":null,"updated_at":"2018-10-29T19:09:34Z","van_id":null,"village_district":null,"ward":null,"work_phone_number":"","graduation_year":2008.0}],"next":"/api/v1/people/search?__nonce=Z95uFNEYek3JMk7aZWYL3A\u0026__token=AFwi3WBpELaAwUEjhPFiVsRvUjLoIfXrD-3u5Iu2sJah\u0026custom_values%5Bgraduation_year%5D=2008\u0026first_name=Alex\u0026limit=2","prev":null}'
  recorded_at: Mon, 29 Oct 2018 20:20:04 GMT
recorded_with: VCR 2.9.3
