---
http_interactions:
- request:
    method: get
    uri: https://dh.nationbuilder.com/api/v1/sites/dh/pages/basic_pages?access_token=6e516b5d9a3d21b3cc079bc303c01aae3d59c8d4a7e9e6d2acfc11dada0e054e
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Nation-Ratelimit-Limit:
      - '10000'
      Nation-Ratelimit-Remaining:
      - '9973'
      Nation-Ratelimit-Reset:
      - '1403740800'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"page":1,"total_pages":1,"per_page":10,"total":1,"results":[{"slug":"about","path":"/about","status":"published","site_slug":"dh","name":"About","headline":"About","title":"About
        - dh","excerpt":"","author_id":2,"published_at":"2013-07-08T11:07:00-07:00","external_id":null,"tags":[],"id":1,"content":"<div
        style=\"float: right; margin: 0 0 10px 25px;\"><img class=\"img-circle\" src=\"boats.jpg\"
        alt=\"\"></div>\r\n<p>This is where you tell everyone what your blog is about.
        Explain what the intended purpose of your blog is, if there is one. If multiple
        people will be writing for your blog, you might consider posting photos and
        bios of the contributors.</p>\r\n<p>Proin libero diam, consequat ut nisl vestibulum,
        commodo scelerisque lacus. In vehicula, est quis rhoncus tristique, dolor
        sapien aliquam arcu, ut vulputate quam enim quis augue. Phasellus id nunc
        vitae lectus dapibus viverra malesuada at nibh. Suspendisse sagittis odio
        non ipsum feugiat porta.</p>\r\n<p>\u00a0</p>\r\n<p><strong>To change this
        content, click \"Edit this page\" in the Supporter Nav on the right,<br>or
        from your Control Panel navigate to Websites &gt; [about] &gt; Content.</strong></p>"}]}'
  recorded_at: Wed, 25 Jun 2014 22:28:31 GMT
recorded_with: VCR 2.9.2
